label {
  margin-right: 20px;
}
button {
  margin-bottom: 20px;
  margin-top: 20px;
}
.container {
  padding-top: 40px;
}
h1 {
  margin-bottom: 40px;
}
#chu-vi,
#dien-tich {
  margin-left: 20px;
}
.form-group1 {
  display: flex;
  align-items: center;
}
