* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  padding-top: 40px;
}

input {
  height: 40px;
  padding-left: 10px;
}
h1 {
  margin-bottom: 30px;
}
#money {
  padding: 10px;
  border: 1px solid #000;
  width: 250px;
  height: 40px;
  display: inline-block;
  text-align: center;
  line-height: 15px;
  font-weight: bold;
}
button {
  margin-bottom: 20px;
  margin-top: 10px;
}
label {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 18px;
}
